
/* style.css */
@import url('https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif; /* */
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ebeded;
    --main-color: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color); /* */
    color: var(--text-color); /* */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between; /* */
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar a {
    font-size: 1.7rem; /* */
    color: var(--text-color); /* */
    font-weight: 500; /* */
    margin-left: 3.5rem; /* */
    transition: 0.3s; /* */
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer; /* */
    display: none; /* */
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%; /* */
    background: url('home.jpg') no-repeat; /* */
    background-size: cover; /* */
    background-position: center; /* */
}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3; /* */
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 2px var(--main-color);
}

.home-content p {
    font-size: 1.6rem; /* */
    margin: 2rem 0 4rem; /* */
    line-height: 1.8; /* */
    color: var(--text-color); /* */
}

.btn-box {
    position: relative; /* */
    display: flex; /* */
    justify-content: space-between; /* */
    width: 40rem; /* */
    height: 10rem; /* */
}

.btn-box .btn {
    position: relative; /* */
    display: inline-flex; /* */
    justify-content: space-between; /* */
    align-items: center; /* */
    width: 20rem; /* */
    height: 200%; /* */
    background: var(--main-color); /* */
    border: 2rem solid var(--main-color); /* */
    border-radius: 8rem; /* */
    font-size: 1.8rem; /* */
    font-weight: 600; /* */
    letter-spacing: .1rem; /* */
    color: var(--bg-color); /* */
    z-index: 1; /* */
    overflow: hidden; /* */
    transition: .5s; /* */
}

.btn-box .btn:hover {
    color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--text-color);
    border: 2rem solid var(--text-color); /* */
}

.btn-box .btn:nth-child(2):hover {
    background: var(--main-color);
    color: var(--bg-color);
    border: 2rem solid var(--main-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--bg-color); /* */
    border: 2rem solid var(--main-color); /* */
}

.btn-box .btn::before {
    content: ''; /* */
    position: absolute; /* */
    top: 0%; /* */
    left: 0%; /* */
    width: 0%; /* */
    height: 100%; /* */
    background: rgb(13, 0, 128); /* */
    color: var(--main-color); /* */
    z-index: 1; /* */
    transition: .5s; /* */
}

.btn-box .btn:hover::before {
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: var(--bg-color);
    border: 2rem solid var(--main-color); /* */
    border-radius: 50%; /* */
    transition: 0.5s; /* */
}

.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    justify-content: space-between;
    display: flex;
}

.home-sci a {
    position: relative; /* */
    display: inline-flex; /* */
    justify-content: center; /* */
    align-items: center; /* */
    width: 40px; /* */
    height: 40px; /* */
    background: transparent; /* */
    border: .2rem solid var(--main-color); /* */
    border-radius: 50%; /* */
    font-size: 20px; /* */
    color: var(--main-color); /* */
    z-index: 1; /* */
    overflow: hidden; /* */
    transition: .5s; /* */
}

.home-img {
    position: absolute; /* */
    top: 0; /* */
    right: 0%; /* */
    width: 45%; /* */
    height: 100%; /* */
    background: transparent; /* */
    border-radius: 50%; /* */
    overflow: hidden; /* */
    border: 2px solid red; /* */
    transition: 3s; /* */
}

.home-imgHover:hover {
    background: var(--main-color); /* */
    opacity: .8; /* */
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color); /* */
    padding-bottom: 6rem; /* */
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--main-color);
}

.about-img {
    position: relative; /* */
    width: 25rem; /* */
    height: 25rem; /* */
    border-radius: 50%; /* */
    display: flex; /* */
    justify-content: center; /* */
    align-items: center; /* */
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: 2rem solid var(--main-color); /* */
    height: 100%; /* */
    object-fit: cover; /* */
}

.about-img.circle-spin {
    position: absolute; /* */
    top: 50%; /* */
    left: 50%; /* */
    transform: translate(-50%, -50%) rotate(0); /* */
    width: 100%; /* */
    height: 100%; /* */
    border-radius: 50%; /* */
    border-top: 2rem solid var(--main-color); /* */
    border-bottom: .2rem solid red; /* */
    border-left: 2rem solid transparent; /* */
    border-right: 2rem solid transparent; /* */
    animation: spin 4s linear infinite; /* */
}

.about-content {
    text-align: center; /* */
}

.about-content h3 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    line-height: 1.8; /* */
    color: var(--text-color); /* */
    max-width: 60rem; /* */
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: var(--second-bg-color); /* */
}

.education {
    display: flex; /* */
    align-items: center; /* */
    justify-content: center; /* */
    font-display: var(--bg-color); /* */
    font-size: small; /* */
    flex-direction: column; /* */
    min-height: 45rem; /* */
    padding-bottom: 12rem; /* */
    font-size: 2rem; /* */
    gap: 2rem; /* */
    font-style: italic; /* */
    forced-color-adjust: var(--bg-color); /* */
    text-decoration: skyblue; /* */
    background: var(--second-bg-color); /* */
    padding: 6rem 0; /* */
}

.skill {
    min-height: auto; /* */
    padding-bottom: 7rem; /* */
    background: var(--second-bg-color); /* */
    font-size: 2rem; /* */
}

.skill.skill-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skill-row.skill-column {
    flex: 1 1 40rem;
}

.skill-column .title {
    font-size: 2.5rem; /* */
    margin: 0 0 1.5rem; /* */
}

.skill-box.skill-content {
    position: relative;
    border: 2rem solid var(--main-color);
    border-radius: .6rem;
    padding: 5rem 1.5rem;
}

.contact {
    min-height: auto; /* */
    padding-bottom: 5rem; /* */
}

.contact form {
    max-width: 48rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: static;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* */
}

.contact form .input-box .input-field {
    position: relative; /* */
    width: 48%; /* */
    margin: 8rem 0; /* */
}

.contact form .input-box .input-field input,
.contact form .textarea-box textarea {
    padding: 1.5rem;
    border: 2rem solid var(--main-color);
    border-radius: .6rem;
    background: transparent;
    width: 100%; /* */
    color: var(--text-color); /* */
    font-size: 1.6rem; /* */
    outline: none; /* */
    transition: .5s; /* */
    resize: none; /* */
}

